<!-- show_timeline.hbs--> 
<div class="tweeter-user-wrapper panel panel-default" data-tuid="{{user_id}}">
	<div class="panel-heading"> 
		<h3>{{local_idx}}: Twitter-user ID: {{user_id}} 
			&nbsp;
			<small class="tweeter-header-info" data-tuid="{{user_id}}"> </small>
		</h3>
		<a data-toggle="collapse" href=".tweeter-description-panel[data-tuid={{user_id}}]">
				<span>&plus; Expand</span>
		</a>
		
	</div>
	<div class="tweeter-description-panel panel-body collapse in" data-tuid={{user_id}}>
		<p><b>@{{description.screen_name}}</b>{{description.description}} </p>
		<div data-tuid={{user_id}} class="tweeter-form-wrapper">
			<p>
				Spam &nbsp; <input type="checkbox" class="spam-check"></input> 
				&nbsp; : &nbsp;
				Selected &nbsp; <input type="checkbox" class="cohort-check"> </input> 
			</p>
			<textarea class='info-text'> </textarea>


		</div> 
		<a data-toggle="collapse" href=".timeline[data-tuid={{user_id}}]">
			<span>&plus; Expand Timeline</span>
		</a>
		<button type="button" class="btn btn-default btn-lg tweeter-load-btn" data-tuid="{{user_id}}">
	  		Load <span class="glyphicon glyphicon glyphicon-chevron-down"></span>
		</button>
	
		<div class="timeline collapse collapse" style="height:400px;overflow:auto;" data-tuid="{{user_id}}">
			{{! insertion point for table }}
			
		</div>
	</div>
</div>